In [ ]:
#W4A1
n=int(input("nhap n (n<1000) :"))
sum=0
for i in range (1,n+1):
  sum+=i
print(sum)

nhap n (n<1000) :3
6

In [ ]:
#W4A2
while True:
  try:
    n=int(input())
    if n<=1:
      print("khong la so nguyen to")
    else:
      for i in range (2,n):
        if n%i==0:
          print("khong la so nguyen to")
          break
      else:
        print("la so nguyen to")
  except ValueError:
    print("nhap lai")
    break

2
la so nguyen to
4
khong la so nguyen to
0
khong la so nguyen to
-1
khong la so nguyen to
h
nhap lai

In [ ]:
#W4A3
n=int(input("nhap n 0<n<100 "))
gt=1
for i in range(1,n+1):
  gt*=i
print(gt)

nhap n 0<n<100 6
720

In [21]:
#W4A4
n=int(input())
if n<0:
  print(-1*n)
else:
  print(n)

-20
20

In [3]:
#W4A5
n=int(input())
flag=False
for i in range(n):
  a=int(input())
  if a==42:
    flag=True
    break
if flag:
  print("ive found the meaning of life")
else:
  print("its a joke")

3
1
2
42
ive found the meaning of life

In [4]:
#W4A6
try:
    a = int(input("nhap a"))
    b = int(input("nhap b"))

    if a < 1 or b < 1 or a > b:
        print("nhap lai")
    else:
        sum = 0
        for num in range(a, b + 1):
            if num > 1:
                flag = True
                for i in range(2, num):
                    if num % i == 0:
                        flag = False
                        break

                if flag:
                    sum += num

        print(sum)

except ValueError:
    print("nhap lai")

nhap a3
nhap b5
8

In [9]:
#W4A7
n=int(input("nhap n ( n>=2) "))
so=0
for i in range (2,n+1):
  if n%i==0:
    flag=True
    for v in range (2,i):
      if i%v==0:
        flag=False
        break
    if flag==True:
      so=i
print(so)

nhap n ( n>=2) 30
5

In [16]:
#W4A8
try:
    n = int(input("nhap n"))
except ValueError:
    print("nhap lai")
    exit()
if n <= 0:
    print("nhap lai")
    exit()
buoc = 0
so_hien_tai = n
while True:
    s_hien_tai = str(so_hien_tai)
    s_dao_nguoc = s_hien_tai[::-1]
    if s_hien_tai == s_dao_nguoc:
        break
    so_dao_nguoc = int(s_dao_nguoc)
    so_hien_tai = so_hien_tai + so_dao_nguoc
    buoc += 1
print(f"so buoc {buoc}")
print(f"so doi xung la {so_hien_tai}")

nhap n20
so buoc 1
so doi xung la 22

In [2]:
#W4A9
try:
    n = int(input("nhap n nguyen duong "))

    if n <= 0:
        print("nhap lai")
    else:
        lst= []
        k = 1

        while k * k <= n:
            a = k * k
            at = str(a)
            flag= True
            for i in range(len(at)):
                for j in range(i + 1, len(at)):
                    if at[i] == at[j]:
                        flag = False
                        break

                if not flag:
                    break

            if flag:
                lst.append(a)

            k += 1

        if lst:
            print(*lst)
        else:
            print("(no number)")

except ValueError:
    print("nhap lai")

nhap n nguyen duong 25
1 4 9 16 25

In [18]:
#W4A10
try:
    n = int(input("nhap n nguyen duong "))
except ValueError:
    print("nhap lai")
    exit()
if n <= 0:
    print("nhap lai")
    exit()
ddln = 0
best_x = 0
for x in range(1, n + 1):
    sht = x
    ddht = 1
    while sht != 1:
        if sht % 2 == 0:
            sht = sht // 2
        else:
            sht = 3 *sht + 1
        ddht+= 1
    if ddht > ddln:
        ddln = ddht
        best_x = x
print(f"{best_x} {ddln}")

nhap n nguyen duong 30
27 112

In [6]:
#W4A11
n=int(input())
lst=[]
for i in range (1,n+1):
  if n%i==0 and i%2==0:
    lst.append(i)
print(len(lst))

150
6

In [8]:
#W4A12
a=float(input("so tien gui vao "))
b=int(input("rut ra sau ... thang "))
s=a*(1+(0.7)/100)**b
print(s)

so tien gui vao 3200000
rut ra sau ... thang 3
3267671.4975999994

In [10]:
#W4A13
a=int(input())
b=int(input())
lsta=[]
lstb=[]
suma=0
sumb=0
for i in range(1,a+1):
  if a%i==0:
    lsta.append(i)
for v in range(1,b+1):
  if b%v==0:
    lstb.append(v)
for x in lsta:
  suma+=x
for y in lstb:
  sumb+=y
if suma-a==b and sumb-b==a:
  print("yes")
else:
  print("no")

220
284
yes

In [11]:
#W4A14
m = int(input())
n = int(input())
if m < n:
    gioi_han = m
else:
    gioi_han = n
ucln = 1
for i in range(1, gioi_han + 1):
    if m % i == 0 and n % i == 0:
        ucln = i
print(ucln)

20
15
5

In [14]:
#W4A15
n=int(input("tong chan la "))
v=int(input("tong con la "))
try:
  y=(n-2*v)/2
  x=v-y
  print("so ga va cho lan luot la",x,y)
except ValueError:
  print("invalid")

tong chan la 100
tong con la 36
so ga va cho lan luot la 22.0 14.0